.main{
    height: 77px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #082A3A05;
margin-bottom: 8px;
display: flex;
justify-content: space-between;
align-items: center;
}

.main span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productImg{
    width: 95px;
    height: 68px;
    margin-left: 20px;
    background-color: #FFFFFF;
}

.productImg img{
    width: 100%;
    height: 100%;
}

.productName{
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
color: #082A3A;
}

.productDetails{
    width: 120px;
    display: flex;
    justify-content:right;
    align-items: center;
    margin: 15px;
}

.providerName{
    width: 150px;
}

.Icon{
    width: 35px;
    height: 25px;
    margin-left: 9px;
    background: transparent url('../../../image/admin/Iconfeather-edit.svg') 50% 50% no-repeat padding-box;
    cursor: pointer;
}

.Text{
    /* font: normal normal normal 11px/14px IBM Plex Sans Hebrew; */
    font-size: 11px;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 0px;
    color: #9EAAAF;
}

.productDelete{
    width: 25px;
    height: 25px;
    margin-left: 30px;
    background: transparent url('../../../image/admin/Iconfeather-trash-2.svg') 50% 50% no-repeat padding-box;
    cursor: pointer;
}

.blocked{
    background: #ffebeb;
}