.main {
    width: 100%;
    min-height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #082a3a05;
    margin: 0 0 20px 0;
    /* padding: 0 37px 0 30px; */
    /* display: flex;
    align-items: center; */
  }
  
  .header {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 37px 0 30px;
  }
  .titles {
    display: flex;
    align-items: center;
  }
  
  .name {
    width: 315px;
    height: 35px;
    /* font: normal normal 600 18px/23px IBM Plex Sans Hebrew; */
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    letter-spacing: 0px;
    color: #082a3a;
    border-left: 1px solid #70707054;
    padding: 0 0 0 29px;
  }
  
  .nums {
    /* font: normal normal normal 18px/23px IBM Plex Sans Hebrew; */
    font-size: 18px;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: normal;
    line-height: 23px;
    letter-spacing: 0px;
    color: #082a3a;
    padding: 0 39px 0 29px;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    margin: 0 0 0 25px;
    background: transparent
      url("../../../image/admin/Iconionic-ios-arrow-back.svg") 50% 50% no-repeat
      padding-box;
  }
  
  .close {
    transform: rotate(180deg);
  }
  
  .body {
    margin: 0 37px 0 30px;
    max-height: 402px;
    overflow-y: auto;
    overflow-x: hidden;
  
  }
  
  .body::-webkit-scrollbar {
    width: 5px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin: 0 37px 0 30px;
    padding: 21px 0 28px 0;
  }
  
  .selectAll {
    display: flex;
    align-items: center;
    /* font: normal normal 600 14px/18px IBM Plex Sans Hebrew; */
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    letter-spacing: 0px;
    color: #082a3a;
  }
  
  .selectAll input[type="checkbox"] {
      width: 22px;
  height: 22px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #082A3A;
      margin-left: 14px;
  }
  
  
  .buttons {
    display: flex;
  }
  
  .noNeed,
  .need {
    /* font: normal normal medium 14px/18px IBM Plex Sans Hebrew; */
    font-size: 14px;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0px;
    width: 309px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
  }
  
  .noNeed {
    margin: 0 0 0 11px;
    background: #be955d 0% 0% no-repeat padding-box;
  }
  
  .need {
    background: #082a3a 0% 0% no-repeat padding-box;
  }
  

  /* Media query for 10.9" tablet display (1180x820px) */
@media screen and (max-width: 1180px) {
    .main{
        margin: 0 0 20px 0;
    }

    .header{
        min-height: 50px;
        padding: 5px;
    }

    .title{
        padding: 8px 0;
        font-size: 20px;    
    }

    .name{
        width: 150px;
        height: 33px;
        font-size: 16px;
        padding: 0 0 0 10px;
    }

    
  .noNeed,
  .need {
    font-size: 14px;
    text-align: center;
    width: 200px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
  }
}