{
  "openapi": "3.0.1",
  "info": {
    "title": "Weezmo API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api-core.weezmo.com"
    }
  ],
  "paths": {
    "/api/SmsCampaign/create": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Will create an SMS Campaign",
        "description": "Create and shedule SMS Campaign for contact lists",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "required": [
                  "campaignName",
                  "includeLists",
                  "message",
                  "senderName"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "SMS message that needs to be sent."
                  },
                  "includeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "You can send the message to multiple lists in an array.\r\nThe message can be sent to contacts in the lists"
                  },
                  "excludeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude contacts from the specified lists in this parameter.",
                    "nullable": true
                  },
                  "senderName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "pattern": "^[A-Za-z\\s]*$",
                    "type": "string",
                    "description": "The ID will be displayed in the recipient's phone as the sender."
                  },
                  "campaignName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "The campaign name that will appear in your reports."
                  },
                  "scheduleSend": {
                    "type": "string",
                    "description": "Date and time on which the messages will be sent.",
                    "format": "date-time",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/json": {
              "schema": {
                "required": [
                  "campaignName",
                  "includeLists",
                  "message",
                  "senderName"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "SMS message that needs to be sent."
                  },
                  "includeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "You can send the message to multiple lists in an array.\r\nThe message can be sent to contacts in the lists"
                  },
                  "excludeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude contacts from the specified lists in this parameter.",
                    "nullable": true
                  },
                  "senderName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "pattern": "^[A-Za-z\\s]*$",
                    "type": "string",
                    "description": "The ID will be displayed in the recipient's phone as the sender."
                  },
                  "campaignName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "The campaign name that will appear in your reports."
                  },
                  "scheduleSend": {
                    "type": "string",
                    "description": "Date and time on which the messages will be sent.",
                    "format": "date-time",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "required": [
                  "campaignName",
                  "includeLists",
                  "message",
                  "senderName"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "SMS message that needs to be sent."
                  },
                  "includeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "You can send the message to multiple lists in an array.\r\nThe message can be sent to contacts in the lists"
                  },
                  "excludeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude contacts from the specified lists in this parameter.",
                    "nullable": true
                  },
                  "senderName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "pattern": "^[A-Za-z\\s]*$",
                    "type": "string",
                    "description": "The ID will be displayed in the recipient's phone as the sender."
                  },
                  "campaignName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "The campaign name that will appear in your reports."
                  },
                  "scheduleSend": {
                    "type": "string",
                    "description": "Date and time on which the messages will be sent.",
                    "format": "date-time",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "required": [
                  "campaignName",
                  "includeLists",
                  "message",
                  "senderName"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "SMS message that needs to be sent."
                  },
                  "includeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "You can send the message to multiple lists in an array.\r\nThe message can be sent to contacts in the lists"
                  },
                  "excludeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude contacts from the specified lists in this parameter.",
                    "nullable": true
                  },
                  "senderName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "pattern": "^[A-Za-z\\s]*$",
                    "type": "string",
                    "description": "The ID will be displayed in the recipient's phone as the sender."
                  },
                  "campaignName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "The campaign name that will appear in your reports."
                  },
                  "scheduleSend": {
                    "type": "string",
                    "description": "Date and time on which the messages will be sent.",
                    "format": "date-time",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/xml": {
              "schema": {
                "required": [
                  "campaignName",
                  "includeLists",
                  "message",
                  "senderName"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "SMS message that needs to be sent."
                  },
                  "includeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "You can send the message to multiple lists in an array.\r\nThe message can be sent to contacts in the lists"
                  },
                  "excludeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude contacts from the specified lists in this parameter.",
                    "nullable": true
                  },
                  "senderName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "pattern": "^[A-Za-z\\s]*$",
                    "type": "string",
                    "description": "The ID will be displayed in the recipient's phone as the sender."
                  },
                  "campaignName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "The campaign name that will appear in your reports."
                  },
                  "scheduleSend": {
                    "type": "string",
                    "description": "Date and time on which the messages will be sent.",
                    "format": "date-time",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/xml": {
              "schema": {
                "required": [
                  "campaignName",
                  "includeLists",
                  "message",
                  "senderName"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "SMS message that needs to be sent."
                  },
                  "includeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "You can send the message to multiple lists in an array.\r\nThe message can be sent to contacts in the lists"
                  },
                  "excludeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude contacts from the specified lists in this parameter.",
                    "nullable": true
                  },
                  "senderName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "pattern": "^[A-Za-z\\s]*$",
                    "type": "string",
                    "description": "The ID will be displayed in the recipient's phone as the sender."
                  },
                  "campaignName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "The campaign name that will appear in your reports."
                  },
                  "scheduleSend": {
                    "type": "string",
                    "description": "Date and time on which the messages will be sent.",
                    "format": "date-time",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+xml": {
              "schema": {
                "required": [
                  "campaignName",
                  "includeLists",
                  "message",
                  "senderName"
                ],
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "SMS message that needs to be sent."
                  },
                  "includeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "You can send the message to multiple lists in an array.\r\nThe message can be sent to contacts in the lists"
                  },
                  "excludeLists": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Exclude contacts from the specified lists in this parameter.",
                    "nullable": true
                  },
                  "senderName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "pattern": "^[A-Za-z\\s]*$",
                    "type": "string",
                    "description": "The ID will be displayed in the recipient's phone as the sender."
                  },
                  "campaignName": {
                    "maxLength": 100,
                    "minLength": 0,
                    "type": "string",
                    "description": "The campaign name that will appear in your reports."
                  },
                  "scheduleSend": {
                    "type": "string",
                    "description": "Date and time on which the messages will be sent.",
                    "format": "date-time",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/SmsCampaign/status/{campaignId}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get status of campaign by campaignId",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Draft",
                        "Scheduled",
                        "InProgress",
                        "Completed",
                        "Canceled",
                        "Failed"
                      ],
                      "type": "string"
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "invalid": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Draft",
                        "Scheduled",
                        "InProgress",
                        "Completed",
                        "Canceled",
                        "Failed"
                      ],
                      "type": "string"
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "invalid": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Draft",
                        "Scheduled",
                        "InProgress",
                        "Completed",
                        "Canceled",
                        "Failed"
                      ],
                      "type": "string"
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "invalid": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Draft",
                        "Scheduled",
                        "InProgress",
                        "Completed",
                        "Canceled",
                        "Failed"
                      ],
                      "type": "string"
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "invalid": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Draft",
                        "Scheduled",
                        "InProgress",
                        "Completed",
                        "Canceled",
                        "Failed"
                      ],
                      "type": "string"
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "sent": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "invalid": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Contacts/CreateOrUpdate": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create or Update",
        "description": "Create or update list of contacts.\r\nMax number of contacts per request: 5000 contacts.",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "phone": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "addToListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "removeFromListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "phone": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "addToListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "removeFromListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "phone": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "addToListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "removeFromListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "phone": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "addToListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "removeFromListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "phone": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "addToListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "removeFromListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "text/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "phone": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "addToListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "removeFromListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            },
            "application/*+xml": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "firstName": {
                      "type": "string",
                      "nullable": true
                    },
                    "lastName": {
                      "type": "string",
                      "nullable": true
                    },
                    "phone": {
                      "type": "string",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "addToListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "removeFromListNames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "nullable": true
                    },
                    "customFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "nullable": true
                          },
                          "value": {
                            "type": "string",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "failedContacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Date"
                                  ],
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Success",
                        "Failed",
                        "PartiallySucceed"
                      ],
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "failedContacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Date"
                                  ],
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Success",
                        "Failed",
                        "PartiallySucceed"
                      ],
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "failedContacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Date"
                                  ],
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Success",
                        "Failed",
                        "PartiallySucceed"
                      ],
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "failedContacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Date"
                                  ],
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Success",
                        "Failed",
                        "PartiallySucceed"
                      ],
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "failedContacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Date"
                                  ],
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Success",
                        "Failed",
                        "PartiallySucceed"
                      ],
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "failedContacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Date"
                                  ],
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Success",
                        "Failed",
                        "PartiallySucceed"
                      ],
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "failedContacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Date"
                                  ],
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Success",
                        "Failed",
                        "PartiallySucceed"
                      ],
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "failedContacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Date"
                                  ],
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Success",
                        "Failed",
                        "PartiallySucceed"
                      ],
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "failedContacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Date"
                                  ],
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Success",
                        "Failed",
                        "PartiallySucceed"
                      ],
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "nullable": true
                    },
                    "failedContacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Date"
                                  ],
                                  "type": "string"
                                }
                              },
                              "additionalProperties": false
                            },
                            "nullable": true
                          },
                          "errorMessage": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdDate": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "nullable": true
                    },
                    "status": {
                      "enum": [
                        "Success",
                        "Failed",
                        "PartiallySucceed"
                      ],
                      "type": "string"
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Contacts/GetContactStatus": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contact status",
        "description": "Returns current consents this user has with last update date for subscribe or unsubscribe.",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "nullable": true
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "nullable": true
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "nullable": true
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "nullable": true
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "nullable": true
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "nullable": true
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "nullable": true
                  },
                  "phone": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "phone": {
                        "type": "string",
                        "nullable": true
                      },
                      "email": {
                        "type": "string",
                        "nullable": true
                      },
                      "firstName": {
                        "type": "string",
                        "nullable": true
                      },
                      "lastName": {
                        "type": "string",
                        "nullable": true
                      },
                      "subscribedTo": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "unsubscribedFrom": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "additionalData": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "nullable": true
                            },
                            "value": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "enum": [
                                "String",
                                "Number",
                                "Date"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        },
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "phone": {
                        "type": "string",
                        "nullable": true
                      },
                      "email": {
                        "type": "string",
                        "nullable": true
                      },
                      "firstName": {
                        "type": "string",
                        "nullable": true
                      },
                      "lastName": {
                        "type": "string",
                        "nullable": true
                      },
                      "subscribedTo": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "unsubscribedFrom": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "additionalData": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "nullable": true
                            },
                            "value": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "enum": [
                                "String",
                                "Number",
                                "Date"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        },
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "phone": {
                        "type": "string",
                        "nullable": true
                      },
                      "email": {
                        "type": "string",
                        "nullable": true
                      },
                      "firstName": {
                        "type": "string",
                        "nullable": true
                      },
                      "lastName": {
                        "type": "string",
                        "nullable": true
                      },
                      "subscribedTo": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "unsubscribedFrom": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "additionalData": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "nullable": true
                            },
                            "value": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "enum": [
                                "String",
                                "Number",
                                "Date"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        },
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "phone": {
                        "type": "string",
                        "nullable": true
                      },
                      "email": {
                        "type": "string",
                        "nullable": true
                      },
                      "firstName": {
                        "type": "string",
                        "nullable": true
                      },
                      "lastName": {
                        "type": "string",
                        "nullable": true
                      },
                      "subscribedTo": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "unsubscribedFrom": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "additionalData": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "nullable": true
                            },
                            "value": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "enum": [
                                "String",
                                "Number",
                                "Date"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        },
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "phone": {
                        "type": "string",
                        "nullable": true
                      },
                      "email": {
                        "type": "string",
                        "nullable": true
                      },
                      "firstName": {
                        "type": "string",
                        "nullable": true
                      },
                      "lastName": {
                        "type": "string",
                        "nullable": true
                      },
                      "subscribedTo": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "unsubscribedFrom": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "nullable": true
                      },
                      "additionalData": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "nullable": true
                            },
                            "value": {
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "enum": [
                                "String",
                                "Number",
                                "Date"
                              ],
                              "type": "string"
                            }
                          },
                          "additionalProperties": false
                        },
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Contacts/list": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contacts list",
        "description": "Returns list of contacts page with last index id.\r\nMax. number of contacts per request - 1000 contacts.",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listName": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "consents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "allContactFields": {
                    "type": "boolean"
                  },
                  "lastIndexId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listName": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "consents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "allContactFields": {
                    "type": "boolean"
                  },
                  "lastIndexId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listName": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "consents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "allContactFields": {
                    "type": "boolean"
                  },
                  "lastIndexId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "listName": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "consents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "allContactFields": {
                    "type": "boolean"
                  },
                  "lastIndexId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "listName": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "consents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "allContactFields": {
                    "type": "boolean"
                  },
                  "lastIndexId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "listName": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "consents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "allContactFields": {
                    "type": "boolean"
                  },
                  "lastIndexId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "listName": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "consents": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "nullable": true
                  },
                  "allContactFields": {
                    "type": "boolean"
                  },
                  "lastIndexId": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastIndexId": {
                      "type": "string",
                      "nullable": true
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string",
                            "nullable": true
                          },
                          "email": {
                            "type": "string",
                            "nullable": true
                          },
                          "firstName": {
                            "type": "string",
                            "nullable": true
                          },
                          "lastName": {
                            "type": "string",
                            "nullable": true
                          },
                          "subscribedTo": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "nullable": true
                          },
                          "unsubscribedFrom": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "nullable": true
                          },
                          "additionalData": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "type": {
[...]
