.main {
    height: calc(100% - 61px);
  direction: rtl;
  margin: 50px 43px 0 53px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title{
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
letter-spacing: 0px;
color: #082A3A;

}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addProduct , .uploadProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}

.addProduct{
    width: 181px;
height: 40px;
background: #BE955D 0% 0% no-repeat padding-box;
}

.addProductIcon{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    background: transparent url('../../image/admin/Iconfeather-plus.svg') 0% 0% no-repeat padding-box;
}

.addProductText{
    font: normal normal medium 16px/20px IBM Plex Sans Hebrew;
letter-spacing: 0px;
color: #FFFFFF;
}

.uploadProducts{
    width: 255px;
height: 40px;
cursor: pointer;

background: #082A3A 0% 0% no-repeat padding-box;
}

.uploadProductsIcon{
    width: 25px;
    height: 25px;
    margin-left: 12px;

    background: transparent url('../../image/admin/Iconawesome-file-excel.svg') 0% 0% no-repeat padding-box;
}

.uploadProductsText{
    font: normal normal medium 16px/20px IBM Plex Sans Hebrew;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.inputFile{
    width: 255px;
    height: 33px;
    position: absolute;
    top: 55px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.body{
    width: 100%;
    height: calc(100% - 62px);
    overflow-y: auto;
    overflow-x: hidden;
}

.body::-webkit-scrollbar {
    width: 0;
}
