.main {
    height: calc(100% - 61px);
  direction: rtl;
  margin: 50px 43px 0 53px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title{
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
letter-spacing: 0px;
color: #082A3A;

}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.addProduct , .uploadProducts , .downloadProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}

.addProduct{
    width: 181px;
    height: 40px;
    background: #BE955D 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.addProductIcon{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    background: transparent url('../../image/admin/Iconfeather-plus.svg') 50% 50% no-repeat padding-box;
}

.addProductText{
    /* font: normal normal medium 16px/20px IBM Plex Sans Hebrew; */
    font-size: 16px;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.uploadProducts{
    height: 40px;
    padding: 0 30px;
    cursor: pointer;
    background: #082A3A 50% 50% no-repeat padding-box;
}

.uploadProductsIcon{
    width: 25px;
    height: 25px;
    margin-left: 12px;
    background: transparent url('../../image/admin/Iconawesome-file-excel.svg') 50% 50% no-repeat padding-box;
}

.arrowIcon{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    transform: rotate(270deg);
    background: transparent url('../../image/manager/Iconionic-ios-arrow-back-2.svg')  50% 50% no-repeat padding-box;
}
.arrowIconUp{
    transform: rotate(90deg);
}

.uploadProductsText{
    /* font: normal normal medium 16px/20px IBM Plex Sans Hebrew; */
    font-size: 16px;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.inputFile{
    width: 255px;
    height: 33px;
    position: absolute;
    top: 55px;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

.body{
    width: 100%;
    height: calc(100% - 62px);
    overflow-y: auto;
    overflow-x: hidden;
}

.body::-webkit-scrollbar {
    width: 0;
}

.downloadProducts{
    height: 40px;
    padding: 0 30px;
    cursor: pointer;
    background: #0e9273 50% 50% no-repeat padding-box;
}

.downloadProductsIcon{
    width: 25px;
    height: 25px;
    margin-left: 12px;
    background: transparent url('../../image/admin/download.svg') 50% 50% no-repeat padding-box;
}
.downloadProductsText{
    /* font: normal normal medium 16px/20px IBM Plex Sans Hebrew; */
    font-size: 16px;
    font-family: "IBM Plex Sans Hebrew";
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
}
