.main{
    background-color: #EFF2F3 ;
}

.content{
    width: calc(100vw - 283px);
    height: calc(100vh - 85px);
    max-height: calc(100vh - 85px);
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    top: 85px;
    left: 0;
    background: #EFF2F3 0% 0% no-repeat padding-box;
}
/* Media query for 10.9" tablet display (1180x820px) */
@media screen and (max-width: 1180px) {
    .content{
        width: calc(100vw - 240px);
    }
}