.main {
    height: calc(100% - 61px);
  direction: rtl;
  margin: 50px 43px 0 53px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.title{
    /* font: normal normal medium 28px/37px IBM Plex Sans Hebrew; */
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    font-family: 'IBM Plex Sans Hebrew';
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    color: #082A3A;
}

.body{
    width: 100%;
    height: calc(100% - 62px);
    overflow-y: auto;
    overflow-x: hidden;
}

.body::-webkit-scrollbar {
    width: 0;
}
