.main{
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin: 50px;
}

.title{
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    color: #082A3A;
    margin: 0 0 30px 0;
}
.selectTitle{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 37px;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    color: #082A3A;
    padding: 0 10px;
    /* border: 1px solid #707070; */
}
.selectTitle span{
    /* arrow img */
    width: 20px;
    height: 20px;
    background: transparent url('../../image/admin/Iconionic-ios-arrow-back.svg') 50% 50% no-repeat padding-box;
}
.selectBranch{
    height: auto;
    display: flex;
    flex-direction: column;
}
.selectBranch div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
    padding: 0 10px;
    cursor: pointer;
}
.checkbox{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* align-items: center; */
    font-size: 16px;
    font-weight: 500;
    line-height: 37px;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    color: #082A3A;
}
.checkbox div {
    border: 1px solid #707070;
    margin: 5px;
}

.checkbox div:first-child{
    margin-left: 90%;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.message textarea{
    width: 50%;
    height: 200px;
    padding: 10px;
    /* border: 1px solid #707070; */
    font-size: 18px;
    font-weight: 500;
    line-height: 37px;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    color: #082A3A;
    border-radius: 5px;
    resize: none;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button{
    font-size: 20px;
    font-weight: 500;
    line-height: 37px;
    background: #082a3a 0% 0% no-repeat padding-box;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
}

/* Media query for 10.9" tablet display (1180x820px) */
@media screen and (max-width: 1180px) {
    .main{
        margin: 15px;
    }

    .title{
        margin: 0 0 20px 0;
    }

    .message textarea{
        width: 60%;
    }

    
}