.sidebar {
  width: 283px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #082a3a 0% 0% no-repeat padding-box;
}

.sidebar .logo {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../image/logo/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  /* 174 /32 size */
  background-size: 174px 31px;
  border-bottom: 1px solid #25607e9a;
}

.sidebar .menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar .menu div {
  width: 100%;
  height: 61px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-bottom: 1px solid #25607e9a;
  cursor: pointer;
}

.sidebar .menu div .icon,
.sidebar .connectedBy .icon {
  width: 65px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .menu div img {
  width: 30px;
  height: 30px;
}

.sidebar .menu div span {
  text-align: right;
  /* font: normal normal normal 18px/23px IBM Plex Sans Hebrew; */
  font-size: 18px;
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.sidebar .connectedBy {
  width: 283px;
  height: 85px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-top: 1px solid #25607e9a;
}

.sidebar .connectedBy div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar .connectedBy div p {
  text-align: right;
  /* font: normal normal normal 15px/19px IBM Plex Sans Hebrew; */
  font-size: 15px;
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin: 0;
}

.sidebar .connectedBy div p .branch_name {
  text-align: right;
  /* font: normal normal bold 15px/19px IBM Plex Sans Hebrew; */
  font-size: 15px;
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: bold;
  line-height: 19px; 
  lett-spacing: 2px;
  color: #ffffff;
}

.sidebar .connectedBy div a {
    text-align: right;
    text-decoration: underline;
    /* font: normal normal normal 13px/17px IBM Plex Sans Hebrew; */ 
    font-size: 13px;
    font-family: "IBM Plex Sans Hebrew";
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #BE955D;
    cursor: pointer;
}

/* Media query for 10.9" tablet display (1180x820px) */
@media screen and (max-width: 1180px) {
  .sidebar {
      width: 240px;
  }

  .sidebar .logo {
      height: 75px;
      background-size: 150px 27px;
  }

  .sidebar .menu div {
      height: 55px;
  }

  .sidebar .menu div .icon,
  .sidebar .connectedBy .icon {
      width: 55px;
  }

  .sidebar .menu div img {
      width: 25px;
      height: 25px;
  }

  .sidebar .connectedBy {
      width: 240px;
      height: 75px;
  }
}
