.product {
  min-width: 170px;
  width: 170px;
  height: 290px;
  background: #fbfbfb 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 8px 8px;
}

.product img {
  width: auto;
  height: 100px;
  background: transparent 0% 0% no-repeat padding-box;
}

.product h2 {
  margin: 0;
  width: 90%;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  /* font: normal normal 600 14px/18px IBM Plex Sans Hebrew; */
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  font-family: "IBM Plex Sans Hebrew";
  color: #082a3a;
}

.product p {
  width: 90%;
  margin: 0;
  text-align: center;
  /* font: normal normal normal 11px/14px IBM Plex Sans Hebrew; */
  font-size: 13px;
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  line-height: 14px;
  border-bottom: 1px solid #d3d1d1ad; /* TODO: את זה אפשר להוריד  */
  color: #5c6061;
}

.product div {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 0 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #be955d;
}
.buttons{
  /* margin: 8px 0; */
  min-height: 30px;
}

.product div button {
  width: 31px;
  height: 100%;
  background: #be955d 0% 0% no-repeat padding-box;
  border: none;
}

.product div input {
  width: 100%;
  border: none;
  color: #082a3a;
  font: normal normal normal 14px/18px IBM Plex Sans Hebrew;
  font-size: 14px;
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  line-height: 18px;
  text-align: center;
}

.product div input:focus {
  outline: none;
}

/* decrease */
.product div .decrease {
  width: 31px;
  background-image: url("../../../image/manager/Group13.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 31% 31%;
}

/* increase */
.product div .increase {
  width: 31px;
  background-image: url("../../../image/manager/Line21.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 31% 31%;
}

.buttons .blocked{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;  
  align-items: center;
  font-size: 18px;
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  line-height: 14px;
  color: #ffffff;
  background: #eb6060;
}


/* Media query for 10.9" tablet display (1180x820px) */
@media screen and (max-width: 1180px) {
  .product {
    min-width: 135px;
    width: 135px;
    height: 250px;
    margin: 0 5px 5px;
  }

  .product img {
    height: 75px;
  }

  .product h2 {
    font-size: 12px;
    height: 48px;
    line-height: 15px;
    margin-bottom: 2px;
  }

  .product p {
    font-size: 11px;
    line-height: 13px;
    margin: 2px 0;
  }

  .product div {
    height: 22px;
    margin: 4px 0 0 0;
  }

  .product div button {
    width: 22px;
  }

  .product div input {
    font-size: 12px;
    line-height: 14px;
  }

  .buttons {
    min-height: 22px;
  }

  .buttons .blocked {
    font-size: 13px;
    line-height: 13px;
  }

  .product div .decrease,
  .product div .increase {
    width: 22px;
    background-size: 35% 35%;
  }
}