.product {
  width: 170px;
  height: 290px;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 8px 8px;
}

.product img {
  width: auto;
  height: 100px;
  background: transparent 0% 0% no-repeat padding-box;
}

.product h2 {
  margin: 0;
  width: 90%;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  /* font: normal normal 600 14px/18px IBM Plex Sans Hebrew; */
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  font-family: "IBM Plex Sans Hebrew";
  color: #082a3a;
}

.product p {
  width: 90%;
  margin: 0;
  text-align: center;
  /* font: normal normal normal 11px/14px IBM Plex Sans Hebrew; */
  font-size: 11px;
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  line-height: 14px;
  color: #9eaaaf;
}

.product div {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 0 0;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #be955d;
}
.buttons{
  /* margin: 8px 0; */
}

.product div button {
  width: 31px;
  height: 100%;
  background: #be955d 0% 0% no-repeat padding-box;
  border: none;
}

.product div span {
  color: #082a3a;
  /* font: normal normal normal 14px/18px IBM Plex Sans Hebrew; */
  font-size: 14px;
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  line-height: 18px;
}

/* decrease */
.product div .decrease {
  width: 31px;
  background-image: url("../../../image/manager/Group13.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 31% 31%;
}

/* increase */
.product div .increase {
  width: 31px;
  background-image: url("../../../image/manager/Line21.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 31% 31%;
}
